[submodule "server/ipp-auth-server"]
	path = server/ipp-auth-server
	url = git@github.com:manbucy/ipp-auth-server.git
[submodule "base/ipp-spring-cloud-dependence"]
	path = base/ipp-spring-cloud-dependence
	url = git@github.com:manbucy/ipp-spring-cloud-dependence.git
[submodule "server/ipp-product-server"]
	path = server/ipp-product-server
	url = git@github.com:manbucy/ipp-product-server.git
[submodule "base/ipp-spring-boot-dependence"]
	path = base/ipp-spring-boot-dependence
	url = git@github.com:manbucy/ipp-spring-boot-dependence.git
[submodule "base/ipp-spring-boot-core"]
	path = base/ipp-spring-boot-core
	url = git@github.com:manbucy/ipp-spring-boot-core.git
[submodule "server/ipp-gateway-server"]
	path = server/ipp-gateway-server
	url = git@github.com:manbucy/ipp-gateway-server.git
